<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="name" type="text" required [(ngModel)]="datos.name"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input name="last-name" type="text" required [(ngModel)]="datos.lastName"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input name="email" type="text" required [(ngModel)]="datos.eMail"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">telefono</ion-label>
      <ion-input name="tel" type="tel" required [(ngModel)]="datos.tel"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" type="password" required [(ngModel)]="datos.password"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="datos.type" name="type">
        <ion-item>
          <ion-label>Pasajero</ion-label>
          <ion-radio slot="end" value="pasajero"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Conductor</ion-label>
          <ion-radio slot="end" value="conductor"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button class="main-button" type="submit" color="main-color" expand="block" (click)="register()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
