<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input [(ngModel)]="credenciales.correo" name="correo" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="credenciales.password" name="password" type="password" required></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" type="submit" color="main-color" expand="block" class="main-button">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
