<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ name }}</ion-list-header>
          <ion-note>{{ email }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesLogin; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="type == 'pasajero'">
            <ion-item routerDirection="root" routerLinkActive="selected" [routerLink]="['/viajes-pasajero']">
              <ion-icon class="ion-padding-end" name="time-outline"></ion-icon>
              <ion-label>Historial</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLinkActive="selected" (click)="logout()">
            <ion-icon class="ion-padding-end" name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
