#map {
  min-height: 85%;
 
}

#boton-p{
  text-align: center;
  padding-left: 40%;
  padding-right: 40%;
}
#pasajero{
  font-size: 22px;
  text-align: center;
}
#consuctor{
  font-size: 22px;
  text-align: center;
}